.container {
    width: 800px;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.kiri{
    background-color: pink;
    width: 150px;
    height: 500px;
    float: left;
}

.tengah{
    width: 500px;
    height: 500px;
    background-color: aqua;
    float: left;
}

.kanan{
    width: 150px;
    height: 500px;
    background-color: aquamarine;
    float: left;
}