body {
    height: 2000px;
}

div {
    width: 200px;
    height: 200px;
    margin: auto;
}

.satu {
    background-color: lightgreen;
}

.dua {
    background-color: violet;
    position: absolute;
    /* element absolute itu posisinya maju 1 dimensi dan posisi yang violet akan diisi oleh dimensi gold dibelakang violet, position absolute akan relativ terhadap posisi dari paentnya atau tag pemgbungkusnya*/
    /* position: fixed; */
    /* ketika kita menggunakan top left bottom right pada position fixed maka dimensinya akan bergerak relative pada windows browsernya dan tidak mempedulikan element parentnya, dan ketika kita scroll halaman tidak akan berpindah dari posisinya, biasanya position fixed digunakan untuk navbar*/
    /* width: 100%;
    height: 70px; */
    left: 0;
    top: 0;
}

.tiga {
    background-color: gold;
}

.container {
    position: relative;
    width: 600px;
    height: 600px;
    border: 10px solid green;
    margin: auto;
}